<div class="container p-4">
    <div class="row">

        {{#each consulta}}
        <div class="mx-auto mt-5">

        
             <div class="card text-center">
                <div class="card-header">
                    <h3>usuario: {{username}}</h3>
                    
                    <h3>asistencia: {{fecha}}</h3>
                </div> 
             </div>
        </div>      
        {{/each}}
    </div>
</div>