

<div class="container p-5">
    <div class="row">
        <div class="col md-10 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Guardar asistencia</h3>
                </div>  
                <div class="card-body">
                    <form action="/guardarasistencia" method="post">
                        <div class="form-group m-3">
                            <button class="btn btn-success btn-block">
                                    registrar llegada
                            </button>
                        </div>
                    </form>
                </div>  
            </div>
        </div>
    </div>

</div>