  
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Sistema de asistencias</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/login">iniciar sesión <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/register">Registrarse</a>
      <a class="nav-item nav-link" href="/guardarasistencia">Guardar</a>
      <a class="nav-item nav-link" href="/">Ver asistencias</a>
      <a class="nav-item nav-link" href="/logout">cerrar sesión</a>
    </div>
  </div>
</nav>
